<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysCollectionPointMapper">

    <sql id="selectDevices">
        SELECT
        point_id AS "pointId",
        point_name AS "pointName",
        slave_name AS  "slaveName",
        dev_id AS "devId",
        temp_id AS "tempId",
        slave_id AS "slaveId",
        equ_num AS "equNum",
        data_type AS "dataType",
        register_adr AS "registerAdr",
        read_type AS "readType",
        value_type AS "valueType",
        decimal_len AS "decimalLen",
        register_len AS "registerLen",
        unit AS "unit",
        formula AS "formula",
        storage_type AS "storageType"
        FROM view_collection
    </sql>

    <select id="findAll" resultType="SysCollectionPoint">

        <include refid="selectDevices"/>

    </select>

    <select id="selectByDevId" resultType="SysCollectionPoint">
        <include refid="selectDevices"/>
        WHERE dev_id = #{devId}
    </select>

</mapper>