<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            模板名称：<input type="text" name="roleName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-groups-sm hidden-xs" id="toolbar" role="groups">
        </div>
        <div class="panel panel-default col-sm-4">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
        <div class="panel panel-default col-sm-8">
            <table id="devInfo" data-mobile-responsive="true"></table>
        </div>
    </div>
    <form id="showDatapoint" method="get"></form>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var addFlag = [[${@permission.hasPermi('system:templet:add')}]];
    var editFlag = [[${@permission.hasPermi('system:templet:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:templet:remove')}]];
    var showFlag = [[${@permission.hasPermi('system:templet:show')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "system/monitor";
    var addPoint = ctx + "system/datapoint";
    var viewDic = ctx + "system/dic";
    var devs = [[${devs}]]
    load();

    function load() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            addPointUrl: addPoint + "/add/",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "id",
            modalName: "数据模板",
            search: false,
            showExport: false,
            columns: [
                {
                    field: 'id',
                    title: '设备编号',
                    sortable: true,
                },
                {
                    field: 'devName',
                    title: '设备名称',
                    sortable: true
                }, {
                    field: 'status',
                    title: '状态',
                    sortable: true,
                    visible: false
                }, {
                    title: '状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var cls = '';
                        if (row.status == '0')
                            cls = '<i class="fa fa-remove" style="color: red;"></i>';
                        else
                            cls = '<i class="fa fa-check" style="color: green;"></i>';
                        actions.push(cls);
                        return actions.join('');
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<button class="btn btn-danger btn-xs" href="#" onclick="showData(\'' + row.id + '\')"><i class="fa fa-info"></i>查看</button>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    };

    /*角色管理-分配数据权限*/
    function data(id) {
        var url = prefix + '/edit/' + id;
        $.modal.open("修改数据模板", url);
    }

    /*跳转到数据字典*/
    function jumpToDic(id) {
        var url = viewDic + '/list/' + id;
        $.ajax({
            url: url,
            type: 'get',
        });
    }

    function show(id) {
        $("#showDatapoint").attr("action", viewDic + '/list/' + id).submit();
    }

    function editValue(value) {
        var url = prefix + '/edit/' + value;
        $.modal.open("数据值", url);
    }

    function showData(id) {
        var options = {
            url: prefix + "/list/" + id,
            createUrl: prefix + "/add",
            addPointUrl: addPoint + "/add/",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "id",
            modalName: "数据模板",
            search: false,
            showExport: false,
            columns: [
                {
                    field: 'pointName',
                    title: '数据点名称',
                },
                {
                    field: 'slaveName',
                    title: '从机名称',
                },
                {
                    field: 'value',
                    title: '当前值',
                },
                {
                    field: 'edit',
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (value.toString().startsWith('1'))
                            actions.push('<button class="btn btn-success btn-xs ' + showFlag + '" href="#" onclick="editValue(\'' + value + '\')"><i class="fa fa-edit"></i></button>');
                        else
                            actions.push('-');
                        return actions.join('');
                    }
                }, {
                    field: 'updateTime',
                    title: '更新时间',
                }
            ]
        };
        $.tableCustom.init(options, "#devInfo");
        $.tableCustom.refresh();
    };

    var websocket = null;
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://" + document.location.host + "/deviceInfo.do");
    }
    else {
        alert('当前浏览器不支持WebSocket')
    }

    function fresh() {
        $.table.refresh();
        $.tableCustom.refresh();
    }

    //连接成功建立的回调方法
    websocket.onopen = function () {
//        alert("WebSocket连接成功");
    }

    //连接发生错误的回调方法
    websocket.onerror = function () {
//        alert("WebSocket连接发生错误");
    };

    //接收到消息的回调方法
    websocket.onmessage = function (event) {
        fresh();
    }

    //关闭WebSocket连接
    function closeWebSocket() {
        websocket.close();
    }

    $.onclose

    //连接关闭的回调方法
    websocket.onclose = function () {
//        alert("WebSocket连接关闭");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        closeWebSocket();
    }
</script>
</body>
</html>