<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"-->
<!--rel="stylesheet"/>-->

<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-role-add">
        <div class="btn-groups-sm hidden-xs" id="toolbar" role="groups">
            <input id="tempId" name="tempId" type="hidden" th:value="${tempId}"/>
            <a class="btn btn-success" id="addRowbtn" shiro:hasPermission="system:datapoint:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary" id="saveBtn"
               shiro:hasPermission="system:datapoint:edit">
                <!--onclick="$.operate.edit()"-->
                <i class="fa fa-edit"></i> 保存
            </a>
            <a class="btn btn-danger btn-del disabled" id="removeBtn"
               shiro:hasPermission="system:datapoint:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <table id="bootstrap-table"></table>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:inline="javascript">
    var addFlag = [[${@permission.hasPermi('system:datapoint:add')}]];
    var editFlag = [[${@permission.hasPermi('system:datapoint:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:datapoint:remove')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "system/datapoint";
    $(function () {
        var $table = $('#bootstrap-table');
        var $add = $('#addRowbtn');
        var $remove = $('#removeBtn');
        var $save = $('#saveBtn');
        var tempId = $("input[name='tempId']").val();
        var options = {
            toolbar: "#toolbar",
            idField: "Id",
            pagination: false,
            showRefresh: true,
            search: true,
            clickToSelect: false,
            queryParams: function (param) {
                return {};
            },
            //url: "/Editable/GetUsers",
            //data: [{UserName : "1",Age : 20,Birthday:"2015-1-1",DeptName:"bufen",Hodd:"wu"},{UserName : "2",Age : 21,Birthday:"20135-1-1",DeptName:"b1ufen",Hodd:"w4u"}],
            columns: [{
                checkbox: true
            }, {
                field: "id",
                title: "唯一id",
                visible: false
            }, {
                field: "pointName",
                title: "数据点名称",
                editable: {
                    type: 'text',
                    title: '数据点名称',
                    mode: "inline",
                    validate: function (v) {
                        if (!v) return '数据点名称不能为空';

                    }
                }
            }, {
                field: "dataType",
                title: "数据类型",
                editable: {
                    type: 'select',
                    title: '数据类型',
                    mode: "inline",
                    source: [{value: 0, text: "数值型"}]
                }
            }, {
                field: "registerAdr",
                title: "寄存器",
                editable: {
                    type: 'text',
                    title: '寄存器',
                    mode: "inline",
                    validate: function (v) {
                        if (!v) return '寄存器地址不能为空';
                        v = Number(v);
                        if (v.toString() == "NaN") return '请输入正确的地址';
                    }
                }
            },
                {
                    field: "valueType",
                    title: "数值类型",
                    editable: {
                        type: 'select',
                        title: '数值类型',
                        mode: "inline",
                        source: [
                            {value: 0, text: "2字节无符号整数"},
                            {value: 1, text: "2字节有符号整数"},
                            {value: 2, text: "4字节无符号整数(AB CD)"},
                            {value: 3, text: "4字节无符号整数(CD AB)"},
                            {value: 4, text: "4字节有符号整数(AB CD)"},
                            {value: 5, text: "4字节有符号整数(CD AB)"},
                            {value: 6, text: "4字节浮点型(AB CD)"},
                            {value: 7, text: "4字节浮点型(CD AB)"}
                        ]
                    }
                }, {
                    field: "decimalLen",
                    title: "小数位数",
                    editable: {
                        type: 'select',
                        title: '小数位数',
                        mode: "inline",
                        source: [
                            {value: 0, text: "0(小数位数)"},
                            {value: 1, text: "1(小数位数)"},
                            {value: 2, text: "2(小数位数)"},
                            {value: 3, text: "3(小数位数)"},
                            {value: 4, text: "4(小数位数)"}
                        ]
                    }
                }, {
                    field: "readType",
                    title: "读写",
                    editable: {
                        type: 'select',
                        title: '读写',
                        mode: "inline",
                        source: [
                            {value: 0, text: "只读"},
                            {value: 1, text: "读写"},
                            {value: 2, text: "只写"}
                        ]
                    }
                }, {
                    field: "registerLen",
                    title: "寄存器长度",
                    editable: {
                        type: 'text',
                        title: '单位',
                        mode: "inline",
                        validate: function (v) {
                            if (!v) return '寄存器长度不能为空';
                            v = Number(v);
                            if (v.toString() == "NaN") return '请输入正确的寄存器长度';
                        }
                    }
                }, {
                    field: "unit",
                    title: "单位",
                    editable: {
                        type: 'text',
                        title: '单位',
                        mode: "inline",
                        validate: function (v) {
                            if (!v) return '单位不能为空';
                        }
                    }
                }, {
                    field: "formula",
                    title: "公式",
                    editable: {
                        type: 'text',
                        title: '公式',
                        mode: "inline",
                        validate: function (v) {
                            if (!v) return '公式不能为空';
                        }
                    }
                }, {
                    field: "storageType",
                    title: "数据存储",
                    editable: {
                        type: 'select',
                        title: '数据存储',
                        mode: "inline",
                        source: [
                            {value: 0, text: "不存储"},
                            {value: 1, text: "存储"},
                            {value: 2, text: "变化时存储"}
                        ]
                    }
                }]
        };
        $add.click(function () {
            $table.bootstrapTable('insertRow', {
                index: 0,
                row: {
                    id: guid(),
                    tempId: tempId,
                    pointName: '',
                    dataType: 0,
                    registerAdr: 0,
                    valueType: 0,
                    decimalLen: 0,
                    readType: 0,
                    registerLen: 0,
                    unit: '',
                    formula: 'x',
                    storageType: 0
                }
            });
        });
        $remove.click(function () {

            // $table.bootstrapTable('removeAll');
            //批量删除
            var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            });
            // var rows = $table
            // alert(ids);
            $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            });

        });
        $save.click(function () {
            var list = [];//构造集合对象
            var rows = $table.bootstrapTable('getSelections');
            if (rows.length == 0) {
                alert("没有需要添加的数据");
                return;
            }
            for (var i = 0; i < rows.length; i++) {
                var registerAdr = rows[i].registerAdr;
                var registerLen = rows[i].registerLen;
                if (Number(registerAdr).toString() == "NaN") {
                    alert('第' + (i + 1) + '条寄存器地址错误');
                    return;
                }
                if (Number(registerLen).toString() == "NaN") {
                    alert('第' + (i + 1) + '条寄存器长度错误');
                    return;
                }
                var unit = encodeURIComponent(rows[i].unit);
                list.push({
                    'tempId': rows[i].tempId,
                    'pointName': rows[i].pointName,
                    'dataType': rows[i].dataType,
                    'registerAdr': rows[i].registerAdr,
                    'valueType': rows[i].valueType,
                    'decimalLen': rows[i].decimalLen,
                    'readType': rows[i].readType,
                    'registerLen': rows[i].registerLen,
                    'unit': unit,
                    'formula': rows[i].formula,
                    'storageType': rows[i].storageType
                });
            }
//            var postData = {'list': list};
            var postData = JSON.stringify(list);
            $.ajax({
                url: '/system/datapoint/add',
                type: 'post',
                dataType: 'json',
//                contentType: 'application/json;charset=utf-8',
//                traditional: true,
                data: "list=" + postData,
                /*success: function (data) {
                    alert("保存成功");
                    $.ajax({
                        url: '/system/templet',
                        type: 'get',
                    });
                },
                error: function (xhr, state, errorThrown) {
                    alert("保存失败");
                }*/
                error: function (request) {
                    $.modal.alertError("系统错误");
                },
                success: function (data) {
                    $.operate.saveSuccess(data);
                }

            });
        });
        $table.bootstrapTable(options);

        function guid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
    });

</script>
</body>
</html>
