<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg" onbeforeunload="timerStop()">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            设备名称：
                            <select id="devName" name="devName" class="selectpicker" onchange="changeDev()">
                                <!--<option selected="selected" value="-1">请选择</option>-->
                                <option th:each="device:${devices}" th:value="${device.id}" th:text="${device.devName}">
                                </option>
                            </select>
                        </li>
                        <li>
                            从机名称：
                            <select id="slaveName" name="slaveName" class="selectpicker" multiple th:value="${slaves}"
                                    onchange="changeSlave()">
                                <!--<option value="-1">请选择</option>-->
                            </select>
                        </li>
                        <li>
                            数据点名称：
                            <select id="pointName" name="pointName" class="selectpicker" multiple
                                    onchange="changePoint()">
                                <!--<option value="-1">请选择</option>-->
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-danger btn-del" onclick="timerStop()">
                                <i class="fa fa-remove"></i> 停止
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 search-collapse">
            <div id="chart" style="width: auto;height: 400px"></div>
            <script type="text/javascript" th:src="@{/chart/echarts.min.js}"></script>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">

    function init() {
        $("#devName").selectpicker({
            noneSelectedText: '请选择',
            dropdownAlignRight: 'auto',
            width: 'auto',
        });
        $("#slaveName").selectpicker({
            noneSelectedText: '请选择',
            dropdownAlignRight: 'auto',
            width: 'auto',
            actionsBox: true,
            liveSearch: true,
        });
        $("#pointName").selectpicker({
            noneSelectedText: '请选择',
            dropdownAlignRight: 'auto',
            width: 'auto',
            actionsBox: true,
            liveSearch: true,
        });
        changeDev();
        changeSlave()
    };
    init();

    var timer;
    var devId;
    var slaveId;
    var pointId;
    var arrtitle = [];
    var xdata = [];
    var series = [{
        name: '',
        data: [],
        type: 'line'
    }];
    var changed = true;
    var now;
    var myChart = echarts.init(document.getElementById('chart'));
    var option = {
        title: {
            text: "曲线"
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['123']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: xdata
        },
        yAxis: {
            type: 'value'
        },
        series: []
    };
    // 初次加载图表(无数据)
    myChart.setOption(option);

    //赋值
    function randomData() {
        var devId = document.getElementById("devName").value;
        var slaveId = $("#slaveName").val();
        var pointId = $("#pointName").val();
        var ids = pointId == null ? '' : pointId.toString();
        var sIds = slaveId == null ? '' : slaveId.toString();
        $.ajax({
            url: "/system/realTime/list",
            type: "GET",
            dataType: "json",
            cache: false,
            async: false,
            ContentType: "application/json",
            data: {
                devId: devId,
                slaveIds: sIds,
                pointIds: ids,
            },
            success: function (data) {
                var result = data;
                var res = result.series;
                now = new Date();
                if (xdata.length >= 10) {
                    xdata.shift();
                }
                var hour = now.getHours();
                var min = now.getMinutes();
                var sec = now.getSeconds();
                hour = hour > 9 ? hour : "0" + hour;
                min = min > 9 ? min : "0" + min;
                sec = sec > 9 ? sec : "0" + sec;
                if (changed) {
                    xdata = [];
                    series = res;
                    changed = false;
                } else {
                    for (var i = 0, len = res.length; i < len; i++) {
                        if (series[i].data.length >= 10) {
                            series[i].data.shift();
                        }
                        series[i].name = res[i].name;
                        series[i].type = res[i].type;
                        series[i].data.push(res[i].data[0]);
                    }
                }
                xdata.push(hour + ":" + min + ":" + sec);
            },
            error: function (msg) {

            }
        });
    }

    //这里做定时器，用setInterval可以实现定时循环刷新
    timer = setInterval(function () {
        randomData();
        //这里是前面html页面中的'chart'
        var myChart = echarts.init(document.getElementById('chart'));
        //传入前面xdata,ydata的赋值
        option.xAxis.data = xdata;
        option.series = series;
        myChart.setOption(option, true);
    }, 1000 * 10);//60秒钟一刷新

    function changeDev() {
        document.getElementById("slaveName").options.length = 0;
        document.getElementById("pointName").options.length = 0;
        var devId = document.getElementById("devName").value;
        var slaves = [[${slaves}]];
        changed = true;
        series = [{
            name: '',
            data: [],
            type: 'line'
        }];
        $.each(slaves, function (index, item) {
            var id = item.id;
            var name = item.slaveName;
            if (devId == item.devId)
                $("#slaveName").append("<option value='" + id + "'>" + name + "</option>")
            $('.selectpicker').selectpicker('refresh');

        })
    }

    function changeSlave() {
        document.getElementById("pointName").options.length = 0;
        var slaveId = $("#slaveName").val();
        var devId = document.getElementById("devName").value;
        var points = [[${points}]];
        var slaves = [[${slaves}]];
        if (slaveId == null)
            slaveId = [];
        series = [{
            name: '',
            data: [],
            type: 'line'
        }];
        changed = true;
        $.each(slaves, function (index, slave) {
            if (slaveId.indexOf(slave.id.toString()) > -1) {
                console.log(slave.id);
                var str = '';
                str += "<optgroup  label='" + slave.slaveName + "'>";
                $.each(points, function (index, item) {
                    var id = item.pointId;
                    var name = item.pointName;
                    if (slave.id == item.slaveId && devId == item.devId) {
                        str += "<option value='" + id + "'>" + name + "</option>";
                    }
                });
                str += "</optgroup>";
                $("#pointName").append(str)
            }
        });
        $('.selectpicker').selectpicker('refresh');
    }

    function changePoint() {
        series = [{
            name: '',
            data: [],
            type: 'line'
        }];
        changed = true;
        var pointIds = $("#pointName").val();
    }

    function timerStop() {
        console.log('关闭定时器');
        window.clearTimeout(timer);
    }
</script>
</body>
</html>