<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head>
<link href="./css/bootstrap.min.css" rel="stylesheet">
<script src="./js/jquery.min.js"></script> 
<script src="./js/bootstrap.min.js"></script>

<link href="./css/bootstrap-editable.css" rel="stylesheet">
<script src="./js/bootstrap-editable.js"></script>

<link href="./css/bootstrap-table.min.css" rel="stylesheet">
<script src="./js/bootstrap-table.min.js"></script>

<script src="./js/bootstrap-table-editable.js"></script>

	
</head>
<body>
<div class="row">
	<p>1</p>
</div>
<div class="row">
	<p>1</p>
</div>
<div class="row">
	<p>1</p>
</div>
<div class="row">
	<a class="btn btn-success" id="addRowbtn" shiro:hasPermission="system:templet:add">
		<i class="fa fa-plus"></i> 新增
	</a>
</div>
<table id ="tb_user"></table>
</body>

<script>
$(function () {

        var $table = $('#tb_user');
        var $button = $('#addRowbtn');
		$button.click(function () {
            $table.bootstrapTable('insertRow', {
                index: 0,
                row: {
                    UserName: '',
                    Age: '',
                    Birthday: '',
					DeptName: '',
					Hodd:''
                }
            });
        });
        $("#tb_user").bootstrapTable({
            toolbar: "#toolbar",
            idField: "Id",
            pagination: true,
            showRefresh: true,
            search: true,
            clickToSelect: true,
            queryParams: function (param) {
                return {};
            },
            //url: "/Editable/GetUsers",
			data: [{UserName : "1",Age : 20,Birthday:"2015-1-1",DeptName:"bufen",Hodd:"wu"},{UserName : "2",Age : 21,Birthday:"20135-1-1",DeptName:"b1ufen",Hodd:"w4u"}],
            columns: [{
                checkbox: true
            }, {
                field: "UserName",
                title: "用户名",
                editable: {
                    type: 'text',
                    title: '用户名',
					mode: "inline",
                    validate: function (v) {
                        if (!v) return '用户名不能为空';

                    }
                }
            }, {
                field: "Age",
                title: "年龄",
				editable: {
                    type: 'text',
                    title: '用户名',
					mode: "inline",
                    validate: function (v) {
                        if (!v) return '用户名不能为空';

                    }
                }
            }, {
                field: "Birthday",
                title: "生日",
				editable: {
                    type: 'text',
                    title: '用户名',
					mode: "inline",
                    validate: function (v) {
                        if (!v) return '用户名不能为空';

                    }
                }
            },
            {
                field: "DeptName",
                title: "部门"
            }, {
                field: "Hobby",
                title: "爱好"                
            }],
            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    type: "post",
                    url: "/Editable/Edit",
                    data: row,
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
                            alert('提交数据成功');
                        }
                    },
                    error: function () {
                        alert('编辑失败');
                    },
                    complete: function () {

                    }

                });
            }
        });
    });
    <!-- var curRow = {}; -->
    <!-- $(function () { -->
        <!-- $("#tb_user").bootstrapTable({ -->
            <!-- toolbar: "#toolbar", -->
            <!-- idField: "Id", -->
            <!-- pagination: true, -->
            <!-- showRefresh: true, -->
            <!-- search: true, -->
            <!-- clickToSelect: true, -->
            <!-- queryParams: function (param) { -->
                <!-- return {}; -->
            <!-- }, -->
            <!-- //url: "/Editable/GetUsers", -->
			<!-- data: [{UserName : "1",Age : 20,Birthday:"2015-1-1",DeptName:"bufen",Hodd:"wu"},{UserName : "2",Age : 21,Birthday:"20135-1-1",DeptName:"b1ufen",Hodd:"w4u"}], -->
            <!-- columns: [{ -->
                <!-- field: "UserName", -->
                <!-- title: "用户名", -->
                <!-- formatter: function (value, row, index) { -->
                    <!-- return "<a href=\"#\" name=\"UserName\" data-type=\"text\" data-pk=\""+row.Id+"\" data-title=\"用户名\">" + value + "</a>"; -->
                <!-- } -->
            <!-- }, { -->
                <!-- field: "Age", -->
                <!-- title: "年龄", -->
				<!-- formatter: function (value, row, index) { -->
                    <!-- return "<a href=\"#\" name=\"Age\" data-type=\"text\" data-pk=\""+row.Id+"\" data-title=\"年龄\">" + value + "</a>"; -->
                <!-- } -->
            <!-- }, { -->
                <!-- field: "Birthday", -->
                <!-- title: "生日", -->
            <!-- }, -->
            <!-- { -->
                <!-- field: "DeptName", -->
                <!-- title: "部门" -->
            <!-- }, { -->
                <!-- field: "Hodd", -->
                <!-- title: "爱好" -->
            <!-- }], -->
            <!-- onClickRow: function (row, $element) { -->
                <!-- curRow = row; -->
            <!-- }, -->
            <!-- onLoadSuccess: function (aa, bb, cc) { -->
                <!-- $("#tb_user a").editable({ -->
                    <!-- url: function (params) { -->
                        <!-- var sName = $(this).attr("name"); -->
                        <!-- curRow[sName] = params.value; -->
                        <!-- $.ajax({ -->
                            <!-- type: 'POST', -->
                            <!-- url: "/Editable/Edit", -->
                            <!-- data: curRow, -->
                            <!-- dataType: 'JSON', -->
                            <!-- success: function (data, textStatus, jqXHR) { -->
                                <!-- alert('保存成功！'); -->
                            <!-- }, -->
                            <!-- error: function () { alert("error");} -->
                        <!-- }); -->
                    <!-- }, -->
                    <!-- type: 'text' -->
                <!-- }); -->
            <!-- }, -->
        <!-- }); -->
    <!-- }); -->
	</script>
</html>
