<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            设备名称：<input type="text" name="devName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-groups-sm hidden-xs" id="toolbar" role="groups">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:templet:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="system:templet:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:templet:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:data:export">
                <i class="fa fa-download"></i> 导出
            </a>-->
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
        <form id="showSlaves" method="get"></form>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var addFlag = [[${@permission.hasPermi('system:templet:add')}]];
    var editFlag = [[${@permission.hasPermi('system:templet:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:templet:remove')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "system/device";
    var addPoint = ctx + "system/device";
    var viewDic = ctx + "system/device";
    var viewSlave = ctx + "system/slave";


    $(function () {
        var options = {
            url: viewDic + "/list",
            createUrl: prefix + "/add",
            addPointUrl: addPoint + "/add/",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: viewDic + "/remove",
            exportUrl: prefix + "/export",
            sortName: "id",
            modalName: "设备",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '设备ID',
                    visible: false
                },
                {
                    field: 'devName',
                    title: '设备名称',
                    sortable: true
                },
                {
                    field: 'devNum',
                    title: '设备编号',
                    sortable: true
                },
                {
                    field: 'code',
                    title: '注册码',
                    sortable: true
                },
                {
                    field: 'groups',
                    title: '所属分组',
                    sortable: true
                },
                {
                    field: 'devType',
                    title: '设备类型',
                     sortable: true
                },
                {
                    field: 'protocol',
                    title: '通讯协议',
                    sortable: true
                },
                {
                    field: 'frequency',
                    title: '采集频率',
                    sortable: true
                },
                {
                    field: 'user',
                    title: '所属用户',
                    sortable: true
                },
                {
                    field: 'updateTime',
                    title: '修改时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + addFlag + '" href="#" onclick="$.operate.addFullTitle(\'' + '从机' + '\',\'' + row.id + '\')"><i class="fa fa-edit"></i>添加从机</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="#" onclick="data(\'' + row.id + '\')"><i class="fa fa-check-square-o"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<button class="btn btn-danger btn-xs" href="#" onclick="show(\'' + row.id + '\')"><i class="fa fa-info"></i>查看</button>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /*角色管理-分配数据权限*/
    function data(id) {
        var url = prefix + '/edit/' + id;
        $.modal.open("修改数据模板", url);
    }

    /*跳转到数据字典*/
    function jumpToDic(id) {
        var url = viewDic + '/list/' + id;
        $.ajax({
            url: url,
            type: 'get',
        });
    }

    function show(id) {
        $("#showSlaves").attr("action", viewSlave + '/list/' + id).submit();
    }
</script>
</body>
</html>