<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<head>
    <link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <ul>
                        <li>
                            设备名称：
                            <select id="devName" name="devName" class="selectpicker" onchange="changeDev()">
                                <!--<option selected="selected" value="-1">请选择</option>-->
                                <option th:each="device:${devices}" th:value="${device.id}" th:text="${device.devName}">
                                </option>
                            </select>
                        </li>
                        <li>
                            从机名称：
                            <select id="slaveName" name="slaveName" class="selectpicker" multiple th:value="${slaves}"
                                    onchange="changeSlave()">
                                <!--<option value="-1">请选择</option>-->
                            </select>
                        </li>
                        <li>
                            数据点名称：
                            <select id="pointName" name="pointName" class="selectpicker" multiple
                                    onchange="changePoint()">
                                <!--<option value="-1">请选择</option>-->
                            </select>
                        </li>
                        <li class="select-time">
                            <label>时间段： </label>
                            <!--id="startTime"-->
                            <input type="text" class="datetimepicker" id="startDate"
                                   data-date-format="yyyy-mm-dd hh:ii" placeholder="开始时间"/>
                            <span>-</span>
                            <!--name="params[beginTime]"-->
                            <!--time-input-->
                            <!--name="params[endTime]"-->
                            <!--id="endTime"-->
                            <input type="text" class="datetimepicker" id="endDate"
                                   data-date-format="yyyy-mm-dd hh:ii" placeholder="结束时间"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchHis()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="exportExcel()"
                               shiro:hasPermission="monitor:job:export">
                                <i class="fa fa-download"></i> 导出
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 search-collapse">
            <div id="chart" style="width: auto;height: 400px"></div>
            <script type="text/javascript" th:src="@{/chart/echarts.min.js}"></script>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<div>
    <script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
</div>
<script th:inline="javascript">

    $('.datetimepicker').datetimepicker({
        language: 'zh-CN',//显示中文		        　　
        format: 'yyyy/mm/dd hh:ii',//显示格式		        　　
        minView: 0,//设置只显示到月份		        　　
        initialDate: new Date(),
        autoclose: true,//选中自动关闭	        　　
        todayBtn: true,//显示今日按钮
    });

    function init() {
        $("#devName").selectpicker({
            noneSelectedText: '请选择',
            dropdownAlignRight: 'auto',
            width: 'auto',
        });
        $("#slaveName").selectpicker({
            noneSelectedText: '请选择',
            dropdownAlignRight: 'auto',
            width: 'auto',
            actionsBox: true,
            liveSearch: true,
        });
        $("#pointName").selectpicker({
            noneSelectedText: '请选择',
            dropdownAlignRight: 'auto',
            width: 'auto',
            actionsBox: true,
            liveSearch: true,
        });
        changeDev();
        changeSlave()
    };
    init();


    var xdata = [];
    var series = [];
    var myChart = echarts.init(document.getElementById('chart'));
    var option = {
        title: {
            text: "曲线"
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['邮件营销a']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'time',
            boundaryGap: false,
            min: 0,
            max: 100,
            data: xdata,
            axisLabel: {
                show: true
            }
        },
        yAxis: {
            type: 'value'
        },
        series: series
    };
    // 初次加载图表(无数据)
    myChart.setOption(option, true);

    function changeDev() {
        document.getElementById("slaveName").options.length = 0;
        document.getElementById("pointName").options.length = 0;
        var devId = document.getElementById("devName").value;
        var slaves = [[${slaves}]];
        $.each(slaves, function (index, item) {
            var id = item.id;
            var name = item.slaveName;
            if (devId == item.devId)
                $("#slaveName").append("<option value='" + id + "'>" + name + "</option>")
            $('.selectpicker').selectpicker('refresh');

        })
    }

    function changeSlave() {
        document.getElementById("pointName").options.length = 0;
//        var slaveId = document.getElementById("slaveName").value;
        var slaveId = $("#slaveName").val();
        var devId = document.getElementById("devName").value;
        var points = [[${points}]];
        var slaves = [[${slaves}]];
        if (slaveId == null)
            slaveId = [];
        $.each(slaves, function (index, slave) {
//            $("#pointName").append("<optgroup  label='" + slave.slaveName + "'>")
            if (slaveId.indexOf(slave.id.toString()) > -1) {
                console.log(slave.id);
                var str = '';
                str += "<optgroup  label='" + slave.slaveName + "'>";
                $.each(points, function (index, item) {
                    var id = item.pointId;
                    var name = item.pointName;
                    if (slave.id == item.slaveId && devId == item.devId) {
                        str += "<option value='" + id + "'>" + name + "</option>";
//                    $("#pointName").append("<option value='" + id + "'>" + name + "</option>")
                    }
                });
                str += "</optgroup>";
                $("#pointName").append(str)
            }
//            $("#pointName").append("</optgroup>")
        });
        $('.selectpicker').selectpicker('refresh');
    }

    function changePoint() {
//        pointId = document.getElementById("pointName").value;
        var pointIds = $("#pointName").val();
        console.log(pointIds);
    }

    function searchHis() {
        $.modal.loading("正在查询，请稍后...");
        var devId = document.getElementById("devName").value;
        var slaveId = $("#slaveName").val();
//        var pointId = document.getElementById("pointName").value;
        var pointId = $("#pointName").val();
        var ids = pointId == null ? '' : pointId.toString();
        var sIds = slaveId == null ? '' : slaveId.toString();
        var startTime = document.getElementById("startDate").value;
        var endTime = document.getElementById("endDate").value;
        startTime = startTime == null ? '' : startTime;
        endTime = endTime == null ? '' : endTime;
        var min;
        var max;
        $.ajax({
            url: "/system/data/list",
            type: "GET",
            dataType: "json",
            cache: false,
            async: false,
            ContentType: "application/json",
            data: {
                devId: devId,
                slaveIds: sIds,
                pointIds: ids,
                startTime: startTime,
                endTime: endTime
            },
            success: function (data) {
                var result = data;
                xdata = result.xdata;
                series = result.series;
                min = result.min;
                max = result.max;
            },
            error: function (msg) {

            }
        });
        myChart = echarts.init(document.getElementById('chart'));
        option.xAxis.min = min;
        option.xAxis.max = max;
        option.xAxis.data = xdata;
        option.series = series;
        myChart.setOption(option, true);
        $.modal.closeLoading();
    }

    function exportExcel() {
//        var currentId = $.common.isEmpty(formId) ? $('form').attr('id') : formId;
        var devId = document.getElementById("devName").value;
        var slaveId = $("#slaveName").val();
//        var pointId = document.getElementById("pointName").value;
        var pointId = $("#pointName").val();
        var ids = pointId == null ? '' : pointId.toString();
        var sIds = slaveId == null ? '' : slaveId.toString();
        var startTime = document.getElementById("startDate").value;
        var endTime = document.getElementById("endDate").value;
        startTime = startTime == null ? '' : startTime;
        endTime = endTime == null ? '' : endTime;
        var data = {
            devId: devId,
            slaveIds: sIds,
            pointIds: ids,
            startTime: startTime,
            endTime: endTime
        };
        $.modal.loading("正在导出数据，请稍后...");
        var url = ctx + "system/data/export";
        $.get(url, data, function (result) {
            if (result.code == web_status.SUCCESS) {
                window.location.href = ctx + "common/download?fileName=" + result.msg + "&delete=" + true;
            } else {
                $.modal.alertError(result.msg);
            }
            $.modal.closeLoading();
        });
    };


</script>
</body>
</html>